@import 'reset.css'; /* CSS 기본 스타일 초기화를 위한 reset CSS */

.wrapper {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
}

.left {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
}

#profile {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: 2px solid black;
}

#name_en {
  font-size: 2vw;
  padding-top: 50px;
  font-weight: bold;
}

#name_ko {
  margin-top: 1.5vw;
  font-size: 0.8vw;
  padding-bottom: 2vw;
}

#skills {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#skills_list {
  margin-top: 2vw;
}

li {
  margin-bottom: 0.8vw;
  font-size: 0.8vw;
}

#github {
  width: 2vw;
  height: 2vw;
  margin-top: 1vw;
}

.right {
  padding: 0 5vw 0 5vw;
  width: 70%;
}

.introduction {
  padding-bottom: 2vw;
  border-bottom: 2px solid black;
}

.introduction-content {
  margin-top: 2vw;
  font-size: 0.8vw;
}

.title {
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.content {
  margin-top: 2vw;
  font-size: 1vw;
}

.portfolio {
  padding-bottom: 2vw;
  border-bottom: 2px solid black;
}

#experience {
  list-style: circle;
  margin-left: 2vw;
}

.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  user-select: none;
}

.slide_item {
  display: flex;
  align-items: top;
  justify-content: left;
  position: relative;
  left: 0;
  width: 100%;
  height: 30vh;
  flex-shrink: 0;
  transition: left 0.15s;
}

.slide_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1vw;
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.slide_prev_button {
  left: 1vw;
}

.slide_next_button {
  left: 5vw;
}

.slide_item img {
  width: 50%;
  height: 100%;
}

.slide_item_introduction {
  width: 40%;
}

.slide_pagination {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 3vw;
  left: 4.1vw;
  transform: translateX(-50%);
}

.slide_pagination > li {
  color: black;
  opacity: 0.2;
  cursor: pointer;
}

.slide_pagination > li.active {
  color: black;
  opacity: 1;
}

.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}